.search_by_number_wrapper {
    background-image: url("./whater_pokemon.webp");
    background-size: 100%; 
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgba(19, 75, 100, 1);
 }