* {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.page_wrapper {
   background-color: rgba(246, 230, 82, 1);
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.header {
    background-color: rgba(25, 33, 78, 0.75);
}
.header_wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
.header_logo {
    max-width: 160px;
    width: 100%;
    cursor: pointer;
}
.header_nav {
    max-width: 550px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(236, 236, 119);
}
.header_anc {
    cursor: pointer;
    text-decoration: none;
    color: rgb(236, 236, 119);
    &:hover {
        color: rgb(77, 87, 225);
    }
}



.input {
    max-width: 400px;
    width: 100%;
    height: 40px;
    border-width: 2px;
    border-color: rgb(77, 87, 225);
    
    border-radius: 3px;
    border-style: solid;
    
    &:hover {
        border-color: rgb(236, 236, 119);
    }
    &:focus {
        border-color: rgb(77, 87, 225);
    }
}

.input_wrapper {
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 250px;
}
.input_div {
    max-width: 510px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.label {
    text-align: center;
    display: block;
    padding-bottom: 20px;
    color: rgb(77, 87, 225);
    text-transform: uppercase;
}
.button {
    padding: 10px 30px;
    
    color: rgb(236, 236, 119);
    &:hover {
        color: rgb(77, 87, 225);
    }
}
.button_div {
    
    background-color:  rgb(77, 87, 225);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
    &:hover {
        color: rgb(236, 236, 119);
        background-color: rgb(236, 236, 119);
    }
   
}
.poke_card {
    background-color: rgb(77, 87, 225, 0.75);
    width: 115px;
    height: 115px;
    border-radius: 15px;
    color: rgb(236, 236, 119);
    cursor: pointer;

    &:hover {
        background-color: rgba(55, 62, 158, 0.90);
    }
}
.poke_img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    padding-left: 22px;
}
.poke_name {
    display: flex;
    justify-content: center;
}
.poke_number{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.poke_grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 15px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
.pokemon_search {
   max-width: 700px;
   margin: 0 auto;
}
.search_pokemon_img {
    width: 300px;
    display: flex;
    margin: 0 auto
}
.prev_button {
    background-color: rgb(77, 87, 225);
    padding: 10px;
    border: 2px solid rgb(77, 87, 225);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: rgba(55, 62, 158, 0.90);
    }
}
.next_button {
    background-color: rgb(77, 87, 225);
    padding: 10px;
    border: 2px solid rgb(77, 87, 225);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: rgba(55, 62, 158, 0.90);
    }
}
.prev_next_div {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.pokeInfo_div {
    max-width: 600px;
    width: 100%;
    background-color: rgb(77, 87, 225, 0.75);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    color: rgb(236, 236, 119);
    text-align: center;
    
}
.pokeInfo_text {
    padding: 10px;
}
.pokeInfo_img {
    max-height:  200px;
    max-width: 200px;
    width: 100%;
    height: 100%;
}
.pokeInfo_img_wrapper {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}
.pokemon_abilities_text {
    background-color: rgb(236, 134, 119);
    color: rgb(77, 87, 225);
    padding: 5px;
    text-transform: uppercase;
}
.base-stat{
    padding: 10px;
}
.base-stat_text{
    text-transform: uppercase;
    padding: 10px;
}